<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/public/css/main.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">修改信息</h2>
                <form action="/student/edit" method="POST">
                    <input type="hidden" name="_id" value="{{student.id}}">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" name="name" id="" value="{{student.name}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">性别</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="" value="0" checked="{{if student.gender==0}}true{{/if}}"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="" value="1" checked="{{if student.gender==1}}true{{/if}}"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">年龄</label>
                        <input type="number" class="form-control" name="age" value="{{student.age}}" id="exampleInputFile">
                    </div>
                    <div class="checkbox">
                        <label for="hobby">爱好</label>
                        <input type="text" class="form-control" value="{{student.hobby}}" name="hobby">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>