body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li, a, span, i, b, form, fieldset, legend, button, input, textarea, th, td
    margin 0
    padding 0

ul
    list-style none

.logo,.slogan,.icon_iphone,.openTri_R
     background url('../images/icon_head.png') no-repeat

.head__pic-pre,.head__pic-next
    background url('../images/icon_index.png') no-repeat

a
    text-decoration none
    outline none
    cursor pointer

.xiaozhu
    width 100%
    overflow hidden
    .head
        margin 0
        padding 0
        position relative
        &__banner
            width 100%
            height 37.5rem
            position relative
            .banner__li
                position absolute
                top 0
                left 0
        &__head-bar
            position absolute
            top 0
            padding 1.9375rem 1.25rem 0
            box-sizing border-box
            width 100%
            .head-bar__con
                height 3.9375rem
                .logo
                    display block
                    width 8rem
                    height 3.8125rem
                    float left
                .slogan
                    display block
                    width 8.0625rem
                    height 1.0625rem
                    float left
                    background-position 0 -440px
                    margin 1.0625rem 0 0 1.25rem
                .nav-R
                    float right
                    font-size 14px
                    font-family "microsoft yahei"
                    display flex
                    li
                        color #ffffff
                        height 2.75rem
                        line-height 2.75rem
                        a
                            text-decoration none
                            color #ffffff
                            padding 0 0.625rem
                            display inline-block
                        .openTri_R
                            padding-right 0.875rem
                            margin-right 1.25rem
                            background-position right -118px
                        .icon_iphone
                            padding-left 1.5rem
                            padding-right 1.5rem
                            background-position 0 -118px
                        .btn_free
                            width 8rem
                            background-color #1abc9c
                            text-align center
                            font-size 18px
        &__pic-pre
            width 3.125rem
            height 6.25rem
            display inline-block
            position absolute
            top 50%
            transform translate(3.125rem/2,-6.25rem/2)
        &__pic-next
            width 3.125rem
            height 6.25rem
            display inline-block
            position absolute
            top 50%
            right 0
            transform translate(-3.125rem/2,-6.25rem/2)
            background-position 0 -115px
        &__search
            width 58.79rem
            position absolute
            bottom 2.5rem
            left 50%
            transform translateX(-58.79rem/2)
            display flex
            div
                flex 1
            .where
                height 3.75rem
                background-color #ffffff
                margin-right 2px
            .date
                background-color #ffffff
                margin-right 2px
            .search-btn
                width 11.25rem
                background-color #F16B80
                flex 0 0 auto
            .icon_place_box
                width 3.4375rem
                height 3.75rem
                display inline-block
                float left
            .ipt_search
                width 19.52rem
                height 1.875rem
                margin 0.9375rem 0
                padding-right 0.625rem
                border none
                color #2c3e50
                font-size 18px
                font-family "microsoft yahei"
                float left
            
