body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
a,
span,
i,
b,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.logo,
.slogan,
.icon_iphone,
.openTri_R {
  background: url("../images/icon_head.png") no-repeat;
}
.head__pic-pre,
.head__pic-next {
  background: url("../images/icon_index.png") no-repeat;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.iconfont {
  font-size: 1.875rem !important;
}
.nomargin {
  margin: none !important;
}
.city-top {
  top: 0;
}
@media (max-width: 768px) {
  html {
    font-size: 6px !important;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  html {
    font-size: 8px !important;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  html {
    font-size: 13px !important;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px !important;
  }
}
.xiaozhu {
  width: 100%;
}
.xiaozhu .head {
  margin: 0;
  padding: 0;
  position: relative;
}
.xiaozhu .head__banner {
  width: 100%;
  height: 34.9375rem;
  position: relative;
  overflow: hidden;
}
.xiaozhu .head__banner .banner__li {
  position: absolute;
  top: 0;
  left: 0;
}
.xiaozhu .head__banner:before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 12.5rem;
  background: url("../images/bg_repeat.png") repeat-x;
  opacity: 0.6;
}
.xiaozhu .head__banner:after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 9.25rem;
  background: url("../images/bg_repeat.png") repeat-x;
  background-position: 0 -210px;
  opacity: 0.6;
}
.xiaozhu .head__head-bar {
  position: absolute;
  top: 0;
  z-index: 3;
  padding: 1.9375rem 1.25rem 0;
  box-sizing: border-box;
  width: 100%;
}
.xiaozhu .head__head-bar .head-bar__con {
  height: 3.9372rem;
}
.xiaozhu .head__head-bar .head-bar__con .logo {
  display: block;
  width: 8rem;
  height: 3.8124rem;
  float: left;
}
.xiaozhu .head__head-bar .head-bar__con .slogan {
  display: block;
  width: 8rem;
  height: 1.0624rem;
  float: left;
  background-position: 0 -440px;
  margin: 1.0624rem 0 0 1.0624rem;
}
.xiaozhu .head__head-bar .head-bar__con .nav-R {
  float: right;
  font-size: 0.8748rem;
  font-family: "microsoft yahei";
}
.xiaozhu .head__head-bar .head-bar__con .nav-R li {
  color: #fff;
  height: 2.75rem;
  line-height: 2.75rem;
  float: left;
}
.xiaozhu .head__head-bar .head-bar__con .nav-R li a {
  text-decoration: none;
  color: #fff;
  padding: 0 0.6247rem;
  display: inline-block;
}
.xiaozhu .head__head-bar .head-bar__con .nav-R li .openTri_R {
  padding-right: 0.8748rem;
  margin-right: 1.25rem;
  background-position: right -118px;
}
.xiaozhu .head__head-bar .head-bar__con .nav-R li .icon_iphone {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-position: 0 -118px;
}
.xiaozhu .head__head-bar .head-bar__con .nav-R li .btn_free {
  width: 8rem;
  background-color: #1abc9c;
  text-align: center;
  font-size: 1.125rem;
  opacity: 0.9;
}
.xiaozhu .head__head-bar .head-bar__con .nav-R li .btn_free:hover {
  background-color: #1aaa88;
}
.xiaozhu .head__pic-pre {
  width: 3.125rem;
  height: 6.25rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(1.5625rem, -3.125rem);
  cursor: pointer;
}
.xiaozhu .head__pic-next {
  width: 3.125rem;
  height: 6.25rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-1.5625rem, -3.125rem);
  background-position: 0 -115px;
  cursor: pointer;
}
.xiaozhu .head__search {
  width: 58.75rem;
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.xiaozhu .head__search div {
  flex: 1;
}
.xiaozhu .head__search .where {
  height: 3.75rem;
  background-color: #fff;
  margin-right: 2px;
}
.xiaozhu .head__search .date {
  background-color: #fff;
  margin-right: 2px;
}
.xiaozhu .head__search .search-btn {
  width: 11.5rem;
  flex: 0 0 auto;
  color: #fff;
  position: relative;
}
.xiaozhu .head__search .search-btn .btn_pink_search {
  width: 100%;
  background-color: #f16b80;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  font-family: "microsoft yahei";
  cursor: pointer;
  padding-left: 2.25rem;
  text-align: left;
  height: 100%;
}
.xiaozhu .head__search .search-btn .btn_pink_search:hover {
  background-color: #e64966;
}
.xiaozhu .head__search .search-btn span {
  position: absolute;
  top: 0;
  right: 0;
}
.xiaozhu .head__search .icon_place_box {
  width: 3.4374rem;
  height: 3.75rem;
  display: inline-block;
  float: left;
  text-align: center;
  padding-top: 0.7762rem;
  box-sizing: border-box;
  cursor: text;
}
.xiaozhu .head__search .ipt_search {
  width: 19.25rem;
  height: 1.8748rem;
  margin: 0.9372rem 0;
  padding-right: 0.6247rem;
  border: none;
  color: #2c3e50;
  font-size: 1.1248rem;
  font-family: "microsoft yahei";
  float: left;
  outline: none;
}
.xiaozhu .ad-index1 {
  background-color: #0fabfc;
  position: relative;
}
.xiaozhu .ad-index1 a {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.xiaozhu .rooms-show .roomList {
  width: 60rem;
  margin: 0 auto;
  padding: 0 0.625rem 3.125rem;
}
.xiaozhu .rooms-show .roomList .room {
  float: left;
  position: relative;
  margin: 0 0.875rem 0.875rem 0;
  font-size: 0;
}
.xiaozhu .rooms-show .roomList .room .city-img {
  width: 38.875rem;
}
.xiaozhu .rooms-show .roomList .room__img {
  width: 19rem;
  height: 15.5rem;
}
.xiaozhu .rooms-show .roomList .room .img-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  transform: translateY(-100%);
  opacity: 0.2;
}
.xiaozhu .rooms-show .roomList .room__intro {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
}
.xiaozhu .rooms-show .roomList .room__intro .user-fd {
  width: 3.125rem;
  height: 3.125rem;
  border: 2px solid #fff;
  border-radius: 50%;
}
.xiaozhu .rooms-show .roomList .room__intro .room-name {
  width: 16.75rem;
  padding: 0.625rem 0;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.xiaozhu .rooms-show .roomList .room__intro .price {
  display: inline-block;
  height: 1.875rem;
  line-height: 1.875rem;
  background-color: #000;
  opacity: 0.6;
  padding: 0 1rem;
  box-sizing: border-box;
}
.xiaozhu .rooms-show .roomList .room__hover:hover {
  box-shadow: 0 0 6px #bbb;
  padding: 0.625rem;
  left: -0.625rem;
  top: -0.625rem;
}
.xiaozhu .rooms-show .roomList:after {
  content: '';
  clear: both;
  display: block;
}
.xiaozhu .our-credit__content {
  width: 60rem;
  margin: 0 auto;
  padding: 0 0.625rem 3.125rem;
  display: flex;
}
.xiaozhu .our-credit__content .jz {
  flex: 1;
  padding: 1.25rem 1.5625rem;
  border-right: 1px solid #ecf0f1;
  position: relative;
}
.xiaozhu .our-credit__content .jz__img {
  background: url("../images/jz.png") no-repeat;
  display: inline-block;
  width: 11.75rem;
  height: 9.5rem;
}
.xiaozhu .our-credit__content .jz__img.jz__img1 {
  background-position: 0 0px;
}
.xiaozhu .our-credit__content .jz__img.jz__img2 {
  background-position: 0 -162px;
}
.xiaozhu .our-credit__content .jz__img.jz__img3 {
  background-position: 0 -324px;
}
.xiaozhu .our-credit__content .jz__img.jz__img4 {
  background-position: 0 -486px;
}
.xiaozhu .our-credit__content .jz:last-child {
  border-right: none;
}
.xiaozhu .our-credit__content .jz__hover:hover {
  box-shadow: 0 0 6px #bbb;
}
.xiaozhu .comments_diarys {
  background: url("../images/bg_comment.jpg") no-repeat;
  background-size: cover;
}
.xiaozhu .comments_diarys .theme__title,
.xiaozhu .comments_diarys .theme__content {
  color: #fff !important;
}
.xiaozhu .comments_diarys .cd-contents {
  display: flex;
  justify-content: center;
  position: relative;
}
.xiaozhu .comments_diarys .cd-contents .comments,
.xiaozhu .comments_diarys .cd-contents .dairys {
  flex: 1;
  padding: 0 5.4375rem;
  text-align: center;
}
.xiaozhu .comments_diarys .cd-contents .middle-line {
  display: inline-block;
  height: 14.8125rem;
  border-right: 1px solid #7d7d7d;
  position: absolute;
  top: 8.1875rem;
}
.xiaozhu .comments_diarys .cd-contents .cd-title {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5625rem;
}
.xiaozhu .comments_diarys .cd-contents .cd-list li {
  line-height: 1.5rem;
}
.xiaozhu .comments_diarys .cd-contents .cd-list li .head-pic {
  width: 6rem;
  height: 6rem;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.xiaozhu .comments_diarys .cd-contents .cd-list li .head-pic img {
  width: 100%;
}
.xiaozhu .comments_diarys .cd-contents .cd-list li span {
  color: #fff;
  font-size: 0.75rem;
  display: block;
}
.xiaozhu .comments_diarys .cd-contents .cd-list li .cd-content {
  padding: 0.9375rem 0;
  text-align: left;
}
.xiaozhu .comments_diarys .cd-contents .cd-list li .cd-content a {
  color: #fff;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.xiaozhu .comments_diarys .cd-contents .cmt-ul {
  margin-bottom: 3.125rem;
  font-size: 0;
}
.xiaozhu .comments_diarys .cd-contents .cmt-ul li {
  display: inline-block;
  width: 2.5rem;
  height: 0.375rem;
  margin: 0.375rem 0.375rem 0 0;
  background-color: #fff;
}
.xiaozhu .comments_diarys .cd-contents .cmt-ul .cmt-current {
  background-color: #f05b72;
}
.xiaozhu .footer {
  margin: 1.25rem auto;
  width: 59.6875rem;
  text-align: center;
}
.xiaozhu .footer__title {
  display: inline-block;
  color: #f05b72;
  font-size: 0.875rem;
}
.xiaozhu .footer .see {
  margin: 0.3125rem auto 2.1875rem;
}
.xiaozhu .footer .see a {
  display: inline-block;
  width: 2.1875rem;
  height: 2.1875rem;
  margin: 0 0.5rem;
  background: url("../images/icon_head.png") no-repeat;
}
.xiaozhu .footer .see .icon-wx {
  background-position: 0 -208px;
}
.xiaozhu .footer .see .icon-wb {
  background-position: -45px -208px;
}
.xiaozhu .footer__ul {
  margin-bottom: 1.25rem;
  overflow: hidden;
}
.xiaozhu .footer__ul li {
  float: left;
  margin-right: 2rem;
  color: #959ea7;
  width: 3.5625rem;
  line-height: 1.5rem;
  text-align: left;
}
.xiaozhu .footer__ul .guide {
  padding-top: 3.125rem;
  display: inline-block;
  background: url("../images/icon_head.png") no-repeat;
  background-position: 8px -258px;
}
.xiaozhu .footer__ul .guide.fk {
  background-position: -44px -258px;
}
.xiaozhu .footer__ul .web-protocol {
  width: 17.5rem;
}
.xiaozhu .footer__ul .web-protocol a {
  margin-right: 0.4375rem;
  white-space: nowrap;
}
.xiaozhu .footer__ul .online-kf {
  width: 10.8125rem;
}
.xiaozhu .footer__ul .online-kf .logindialog {
  display: inline-block;
  padding: 0 0.375rem;
  background-color: #f05b72;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}
.xiaozhu .footer__ul .online-kf .logindialog i {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  vertical-align: middle;
  background: url("http://jci.xiaozhustatic1.com/e19071001/images/xz_online_kf.png") no-repeat;
}
.xiaozhu .footer__ul .online-kf p {
  white-space: nowrap;
}
.xiaozhu .footer .footer__link-dl {
  text-align: left;
  overflow: hidden;
}
.xiaozhu .footer .footer__link-dl dt,
.xiaozhu .footer .footer__link-dl dd {
  float: left;
}
.xiaozhu .footer .footer__link-dl dd {
  width: 54.3rem;
  margin-left: 1.25rem;
}
.xiaozhu .footer .footer__link-dl dd a {
  margin-right: 0.5rem;
  white-space: nowrap;
}
.xiaozhu .footer__btm {
  line-height: 1.625rem;
}
.xiaozhu .footer__report a {
  height: 1.25rem;
  line-height: 1.25rem;
  display: inline-block;
}
.xiaozhu .footer__report a p {
  margin-left: 0.3125rem;
  display: inline-block;
}
.xiaozhu .footer__report a img,
.xiaozhu .footer__report a p {
  vertical-align: middle;
}
.xiaozhu .footer .guide,
.xiaozhu .footer .guide-title,
.xiaozhu .footer dt {
  color: #959ea7;
  font-size: 0.875rem;
}
.xiaozhu .footer a,
.xiaozhu .footer span,
.xiaozhu .footer p,
.xiaozhu .footer .footer__btm,
.xiaozhu .footer .footer__report {
  color: #959ea7;
  font-size: 0.75rem;
}
.theme {
  padding: 2.625rem 0;
}
.theme__title {
  font-size: 2.75rem;
  color: #456;
  display: block;
  text-align: center;
  padding-bottom: 0.9375rem;
  box-sizing: border-box;
}
.theme__content {
  text-align: center;
  font-size: 1.125rem;
  color: #959ea7;
}
.room__hover,
.jz__hover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
