border-1px($color)
    position relative
    &::after
        content ''
        position absolute
        left 0
        bottom 0
        width 100%
        border-bottom 3px solid $color

border-none()
    &::after
        content ''
        display none

bg-image($url)
    background-image url($url+'@2x.png')
    @media (min-device-pixel-ratio:3),(-webkit-min-device-pixel-ratio:3)
        background-image url($url+'@3x.png')

.bgc
    background-color black

$mt=10px